body {
    width: 100%;
    margin: 0 auto;
    font-family: "배달의민족 한나는 열한살", system-ui;
    text-align: center;
}

.main-title {
    height: 2em;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: bolder;
    color: snow;
    background-color: #333333;
}

.mini-title {
    font-size: 1.5em;
    padding-top: 1em;
    color: #333333;
}

.guide {
    font-size: 0.8em;
    padding-top: 0.4em;
    color: #333333;
}

section {
    margin-top: 20px;
}

.button {
    width: 160px;
    height: 3em;
    line-height: 3em;
    font-size: 1.0em;
    font-family: "배달의민족 한나는 열한살", system-ui;
}

.box-border {
    border: 2px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

footer {
    padding-bottom: 30px;
    place-content: center;
}